@{
    ViewData["Title"] = "Questoes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    @foreach (var questoes in Model)
    {
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">@questoes.Questao</h5>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="alternativaA_@questoes.Id" name="question@questao.Id"
                        value="A">
                    <label class="form-check-label" for="alternativaA_@questoes.Id">A) @questoes.AlternativaA</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="alternativaB_@questoes.Id" name="question@questao.Id"
                        value="B">
                    <label class="form-check-label" for="alternativaB_@questoes.Id">B) @questoes.AlternativaB</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="alternativaC_@questoes.Id" name="question@questao.Id"
                        value="C">
                    <label class="form-check-label" for="alternativaC_@questoes.Id">C) @questoes.AlternativaC</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="alternativaD_@questoes.Id" name="question@questao.Id"
                        value="D">
                    <label class="form-check-label" for="alternativaD_@questoes.Id">D) @questoes.AlternativaD</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="alternativaE_@questoes.Id" name="question@questao.Id"
                        value="E">
                    <label class="form-check-label" for="alternativaE_@questoes.Id">E) @questoes.AlternativaE</label>
                </div>
            </div>
        </div>
}


