@model Tech.Models.Questoes

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Questoes</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Questao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Questao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlternativaA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlternativaA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlternativaB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlternativaB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlternativaC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlternativaC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlternativaD)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlternativaD)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlternativaE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlternativaE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlternativaCorreta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlternativaCorreta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imagem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Imagem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Questionario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Questionario.Nome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
