@model IEnumerable<Tech.Models.Questoes>

@{
    ViewData["Title"] = "Questoes";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container-fluid px-4">
    <h1 class="my-4">Questões</h1>
    <a asp-action="Create" class="btn btn-primary"><i class="fas fa-add me-1"></i> Adicionar</a>
    <div class="card my-4">
        <div class="card-body">
            <table class="table d-none" id="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Questao)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.AlternativaA)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.AlternativaB)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.AlternativaC)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.AlternativaD)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.AlternativaE)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.AlternativaCorreta)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Imagem)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Questionario)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Questao)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AlternativaA)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AlternativaB)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AlternativaC)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AlternativaD)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AlternativaE)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AlternativaCorreta)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Imagem)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Questionario.Nome)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit me-1"></i></a>
                                <a asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-search me-1"></i></a>
                                <a asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
@section Scripts {
    <partial name="_DatatableScripts.cshtml"></partial>
}
